/* login.css */
body {
    font-family: 'Roboto', sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .login-container input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-container button {
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
 
  .login-container .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  .login-container p {
    margin-top: 15px;
  }
  
  .login-container p button {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
  }
  
  .login-container p button:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .login-container .google-login-button {
    margin-top: 15px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-container .google-login-button:hover {
    background-color: #357ae8;
  }
  